# Message to send
MESSAGE=Very important message

# Countdown time
TIME_LIMIT=60

# Extend time
EXTEND_TIME=30

# Disable message sending
EMAIL_DISABLE=0
TELEGRAM_DISABLE=0

# Telegram token
TELEGRAM_TOKEN=token123

# Telegram chat id to send message
TELEGRAM_CHAT_ID=11111

# Email settings (GMail works)
EMAIL_USER=sender@example.com
EMAIL_PASS=qwerty123
EMAIL_TO=receiver@example.com
EMAIL_SUBJECT=FAILSAFE message